*
	box-sizing: border-box

html,
body,
.m-container,
.m-workbench,
.m-filter-repo
	height: 100%

body
	font-family: sans-serif
	font-size: 10px
	-webkit-user-select: none
	-moz-user-select: none
	user-select: none

.m-workbench
	margin-right: 250px
	background: linear-gradient(transparent 80%, hsl(0, 0%, 96%) 20%),
	            linear-gradient(90deg, transparent 80%, hsl(0, 0%, 96%) 20%)
	background-size: 5px 5px

	> .m-filter-on-canvas
		position: absolute
		left: 0
		top: 0
		height: 60px
		border: 1px solid #000
		background: #fff
		cursor: move

		> h4
			margin: 0 20px
			line-height: @height - 2

		> .inputs,
		> .outputs
			position: absolute
			top: 50%
			transform: translateY(-50%)

		> .inputs
			left: 0

		> .outputs
			right: 0

		.connector
			position: relative
			width: 12px
			height: 8px
			margin-top: 4px
			margin-bottom: 4px
			// border-radius: 0.5 * @width
			background: #000
			cursor: pointer

		.connector.input
			left: -7px

		.connector.output
			right: -7px

	> .m-filter-on-canvas:focus
		outline: 0
		background: #dcecfc


.m-repository
	position: absolute
	top: 0
	right: 0
	width: 250px
	border-left: 1px solid #ccc
	height: 100%

	> .m-item-container
		height: 50%
		overflow: auto
		padding: 20px
		background: #f6f6f6

		> .filter-repository > .m-filter
			display: inline-block
			border: 1px solid #000
			padding: 8px
			margin-bottom: 10px
			margin-right: 6px
			background: #fff

		> .pipe-repository > .m-pipe
			display: inline-block
			border: 1px solid #000
			padding: 8px
			margin-bottom: 10px
			margin-right: 6px
			background: #fcfadc