body {
	margin: 0;

	color: #444;
	font-family: sans-serif;
	font-size: 10px;
}
html, body, .m-workbench {
	height: 100%;
}
.m-workbench {
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;

	background: linear-gradient(transparent 80%, hsl(0, 0%, 96%) 20%),
	            linear-gradient(90deg, transparent 80%, hsl(0, 0%, 96%) 20%);
	background-size: 5px 5px;
}
.filter {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #009fff;
	background: white;
	display: inline-block;
	min-width: 15em;
	border-radius: 3px;
	cursor: move;
}
.filter > h2 {
	background: linear-gradient(to bottom, #00bdff, #00d9ff); /* #009fff */
	color: #fff;
	margin: 0;
	border-bottom: 1px solid #009fff;
	padding: 0.25em 0.4em;
	font-size: 1em;
	font-weight: normal;
}
.filter.dragging {
	border-color: #444;
}
.filter.dragging > h2 {
	background: #444;
	border-bottom-color: #444;
}
.filter > div {
	padding: 0.25em 0.4em;
	min-height: 3em;
}